<launch>

  <!-- Elevation mapping node -->
  <param name="/use_sim_time" value="true" />

  <arg name="robot_id" default="3"/>
  <arg name="robot_name" default="robot_3"/>
  <arg name="camera_topic"  default="/$(arg robot_name)/image_rect"/>
  <!-- <arg name="lidar_topic"  default="/$(arg robot_name)/pointcloud"/> -->
  <arg name="lidar_topic"  default="/$(arg robot_name)/voxel_grid/output"/>

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping_$(arg robot_id)" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/detection_$(arg robot_name).yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/detection_$(arg robot_name).yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/velodyne_VLP16.yaml" />
    <remap from="/voxel_grid/output" to="$(arg lidar_topic)"/>
    <remap from="/stereo_grey/left/image_raw" to="$(arg camera_topic)"/>

  </node>

   <!-- Launch visualizations for the resulting elevation map -->
   <!-- <include file="$(find elevation_mapping_demos)/launch/visualization.launch" /> -->

   <!-- Launch RViz with the demo configuration -->
   <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz" /> -->

</launch>
